<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dicoding.fundamentalandroid">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".API.ListQuotesActivity"></activity>
        <activity android:name=".API.ApiMainActivity" />

        <receiver
            android:name=".AlarmManager.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".AlarmManager.AlarmManagerMainActivity" />
        <activity android:name=".BroadcastReceiver.BroadcastReceiverActivity" />
        <activity
            android:name=".BroadcastReceiver.SmsReceiverActivity"
            android:theme="@style/Theme.Broadcast.SmsReceiver" />

        <receiver
            android:name=".BroadcastReceiver.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BroadcastReceiver.DownloadService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Service.MyBoundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Service.MyIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Service.ServiceMainActivity" />
        <activity android:name=".Thread.BgThreadMainActivity" />
        <activity android:name=".ViewPager.ViewPagerMainActivity" />
        <activity android:name=".Navigation.MenuActivity" />
        <activity android:name=".CustomView.CustomViewMainActivity" />
        <activity android:name=".UnitTesting.UnitTestingMainActivity" />
        <activity android:name=".Debugging.DebuggingMainActivity" />
        <activity android:name=".ListView.ListViewMainActivity" />
        <activity android:name=".Fragment.ProfileActivity" />
        <activity android:name=".Fragment.FragmentMainActivity" />
        <activity android:name=".Intent.IntentMainActivity" />
        <activity android:name=".Intent.MoveActivity" />
        <activity android:name=".Intent.MoveForResultActivity" />
        <activity android:name=".Intent.MoveActivityWithObject" />
        <activity android:name=".Intent.DialNumberActivity" />
        <activity android:name=".Intent.MoveActivityWithData" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>